.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .map-container,
  .form-container {
    margin: 10px;
    flex: 1;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .submit-btn {
    background-color: red;
    color: white;
  }