/* HEADER START */
body{
    display: block;
    border-color: black;
    
}

.kichwa{
    display: flex;
    background-color: transparent;
    align-items: last baseline;
    border-color: black;
}

.back-grnd{
    display: block;
    border: none;
    border-color: black;
    padding: none;
    background-image: url(/img/hd-back5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hd-lnk{
    text-decoration-line: none;
    color: none;
    width: 30%;
    padding: none;
    margin: none;
}

.hd-btn{
    border: none;
    color: white;
    background-color: transparent;
    height: 100px;
    font-size: 15px;
    
}
.hd1-btn{
    background-color: rgb(255, 37, 37); 
    color: white;
    height: 50px; 
    border-radius: 5px; 
    width: 130px;
    border: none;
    font-size: 15px;
    transition: scale(1);
    transition: transform 0.2s;
    
}

.hd1-btn:hover
  {
    transform: scale(0.8);
  }


.hd-img{
    display: inline-block;
    align-self: center;
    padding-right: 30%;
}

.hd-dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: none;
    margin: none;
    border: none;
  }

  .hd-drop-btn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }

.hd-drop{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.hd-drop a{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;

}

/* Change color of dropdown links on hover */
.hd-drop a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.hd-dropdown:hover .hd-drop {display: block;}

.hd2{
    display: flex;
    width: 100%;
}
.happy-div{
    display: inline-block;
    width: 100%;
}
.happy-pic{
    display: inline-block;
    width: 40%;
}

.hd2-btn{
    background-color: white;
    color: rgb(255,37,37);
    height: 65px;
    width: 20%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 110%;
    font-weight: 650;
    transition: scale(1);
    transition: transform 0.2s;
}
.hd2-btn:hover{
    background-color: rgb(255,37,37);
    color: white;
    transform: scale(0.9);

}


.hd2-h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    margin-bottom: 100px;
}

.hd2-p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    margin-bottom: 90px;
}

.down-arrow{
    display: inline-block;
    margin-top: 40%;
    height: 100px;
    border-radius: 100px;
    border-color: red;
    
}
.img-lnk{
    display: inline-block;
    margin-top: 40%;
    transition: scale(1);
    transition: tranform 0.3s;
}
.img-lnk:hover{
    transform: scale(0.8);
}
/* HEADER CSS END */

/* MIDDLE BODY CSS */


.delivery-p{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

.temp-1{
    display: flex;
    margin-left: 10%;
    padding-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', sans-serif;

}

.temp1-lft{
    display: inline-block;
    width: 40%;
    background-color: rgb(212, 212, 214);
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    border-radius: 10px;
}

.temp1-hd{
    border: 1px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.temp-txt{
    font-size: 120%;
    margin-bottom: 7%;
}

.temp-btn{
    border: none;
    background-color: red;
    color: white;
    height: 12%;
    width: 30%;
    font-size: 130%;
    font-weight: 550;
    border-radius: 5px;
    transition: scale(1);
    transition: transform 0.3s;
}
.temp-btn:hover{
    transform: scale(0.85);
}

.temp-pic{
    width: 30%;
}

.hd-broch{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.broch{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    height: 10%;
}

.broch1{
    display: inline-block;
    text-align: center;
    width: 20%;
    height: 450px;
    margin: 0.5%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.broch-pic{
    display: block;
    width: 100%;
    height: 70%;
}
.download-btn{
    display: block;
    height: 35px;
    margin-left: 20%;
    margin-right: 30%;
    margin-bottom: 3% ;
    width: 50%;
    color: white;
    background-color: red;
    border: none;
    font-size: 800;
    font-weight: 900;
    transition: scale(1);
    transition: transform 0.2s;

}
.download-btn:hover{
    transform: scale(0.8);
}

.ready{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(212, 212, 214);
    color: rgb(63, 62, 62);
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 5%;
    padding-bottom: 5%;

}

.ready-btn{
    background-color: red;
    color: white;
    height: 45px;
    width: 110px;
    border: none;
    border-radius: 20px;
    transition: scale(1);
    transition: transform 0.2s ;

}
.ready-btn:hover{
    transform: scale(0.8);
}


/* MIDDLE BODY CSS END */

/* FOOTER CSS START */
    
footer{
    display: block;
    background-color: rgb(59, 57, 58);
    color: whitesmoke;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.ft-top{
    display: flex;
    margin-bottom: 4.5%;
}
.ft-rgt{
    display: inline-block;
    margin-left: 10%;
    margin-top: 5%;
    width: 30%;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-width: 0.5px;

}

.app-btn{
    width: 40%;
    border: none;
    height: 70px;
    text-align:justify;
    color: rgb(206, 206, 206);
    background-color: rgb(59, 57, 58);
    margin: 2%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.app-btn:hover{
    cursor: pointer;
}

.ft-lft{
    display: flex;
    width: 70%;
    margin-top: 5%;
}

ul{
    display: inline-block;
    margin: 5%;
    color: gray;
}
.ft-border{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-width: 0.25px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    align-items: center;
}
.ft-p{
    margin-right: 28%;
    color: rgb(212, 212, 214);
}
.icons{
    border-radius: 5px;
    height: 20px;
    margin: 1%;
}

ul a{
    text-decoration: none;
    color: gray;
    
}

/* FOOTER CSS END */